.Button
	display: block
	text-decoration: none
	font-family: serif
	width: 80px
	padding: 10px 20px
	color: #024E68
	text-align: center
	background-color: #61B4CF
	border-radius: 5px
	box-shadow: 0px 3px 15px #024E68
	cursor: pointer
	transition: 50ms

	&:hover
		box-shadow: 0px 1px 5px #024E68

	&:active
		box-shadow: none