.Modal
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	background-color: rgba(0,0,0,.7)
	z-index: 1

	.Modal-window
		width: 33vw
		min-width: 350px
		position: fixed
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		color: white
		font-size: 32px
		box-sizing: border-box

		.header, .footer
			height: 50px
			background-color: #024C68//#A61D00
			line-height: 50px
			text-align: center
			border-top: 1px solid #3AA6D0
			border-bottom: 1px solid #226078
			box-sizing: border-box

		.footer
			height: 100px
			background-color: #A61D00
			position: relative

		.body
			color: black
			max-height: calc(80vh - 150px)
			background-color: white
			overflow: auto
			box-sizing: border-box

			.item
				width: calc(33vw - 8vw - 30px)
				min-width: calc(350px - 8vw - 30px)
				margin-top: 20px
				margin-left: calc(4vw + 15px)

				&:last-child
					margin-bottom: 25px

				label
					color: #216278
					font-size: 24px

				[class^=data]
					display: block
					text-align: left
					color: black
					font-size: 24px
					width: 100%


				.data-input
					padding: 0
					border: 1px solid rgba(02, 77, 104, 0.3)

				.data-textarea
					font-size: 16px
					border: 1px solid rgba(02, 77, 104, 0.3)